.navbar-dark {
	background-color: #414141;
}

.jumbotron {
	padding: 70px 30px 70px 30px;
	margin: 0 auto;
	background: #707070;
	color: floralwhite;
	border-radius: 0;
}

.row-header {
	margin: 0 auto;
	padding: 0 auto;
}

.row-content {
	margin: 0 auto;
	padding: 50px 0 50px 0;
	border-bottom: 1px ridge;
	min-height: 400px;
}

.footer {
	background-color: #c0c0c0;
	margin: 0 auto;
	padding: 20px 0 20px 0;
}

address {
	font-size: 80%;
	margin: 0;
	color: #0f0f0f;
}

/* changing scrollbar */

body::-webkit-scrollbar {
	width: 12px;
}

body::-webkit-scrollbar-track {
	background: #eeeeeeba;
}

body::-webkit-scrollbar-thumb {
	background-color: #acacac;
	border-radius: 5px;
	border: 2px solid #707070;
}
